* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.nav-bar {
	background: orange;
	padding: 20px;
	display: block;
	color: white;
	cursor: pointer;
	font-size: 1.5em;
	width: 100%;
}
.menu, .submenu {
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu {
	background: #555;
	width: 100%;
	margin-left: -100%;
	transition: all 0.5s;
}
.menu__link {
	display: block;
	padding: 20px;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
}
.menu__link:hover {
	background: #444;
}
.submenu .menu__link:hover {
	background: #222;
}
.submenu {
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}
.submenu  .menu__link {
	background: #333;
	padding-left: 50px;
}
.mostrar {
	margin-left: 0;
}

@media(min-width: 1024px) {
	.nav-bar {
		display: none;
	}
	.menu {
		margin-left: 0;
		display: flex;
	}
	.container-submenu {
		position: relative;
	}
	.submenu {
		position: absolute;
		top: 60px;
		width: 200px;
		overflow: visible;
		z-index: 1000;
		opacity: 0;
		visibility: hidden;
	}
	.container-submenu:hover .submenu {
		opacity: 1;
		visibility: visible;
	}
}